<img class="responsive-img logo" src="./../../assets/Logo.png" alt="Logomarca Thinderbooks">

<a class="waves-effect waves-light btn brown modal-trigger" href="#newBookModal">{{ labels.newBookButton }}</a>
<p>olá {{currentUser.name}}</p>
<div class="row">

    <div class="col s3" *ngFor="let book of books">
        <div class="card">
            <div class="additional" [ngStyle]="{'background-image': getCover(book.cover)}">
                <div class="user-card">
                </div>
            </div>
            <div class="general">
                <h1>{{ book.title }}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                <section>
                    <span (click)="setupEditBook(book)" id="edit" class="more modal-trigger left-align" href="#editBookModal"><i class="material-icons">border_color</i></span>
                    <span (click)="removeBook(book)" class="more right-align"><i class="material-icons">delete</i></span>
                </section>
            </div>
        </div>
    </div>
</div>



<!-- Modal Trigger -->

<!-- Modal Structure -->
<div id="newBookModal" class="modal">
    <div class="modal-content">
        <h4>{{ labels.newBookTitle }}</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="newBookTitle" name="newBookTitle" [(ngModel)]="newBook.title" type="text" class="validate">
                        <label for="newBookTitle">{{ labels.title }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="newBookIsbn" name="newBookIsbn" [(ngModel)]="newBook.isbn" type="text" class="validate">
                        <label for="newBookIsbn">{{ labels.isbn }}</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="newBookAuthor" name="newBookAuthor" [(ngModel)]="newBook.author" type="text" class="validate">
                        <label for="newBookAuthor">{{ labels.author }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="newBookRelease" name="newBookRelease" type="date" [(ngModel)]="newBook.release" class="validate">
                        <label for="newBookRelease">{{ labels.release }}</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="newBookGenre" name="newBookGenre" type="text" [(ngModel)]="newBook.genre" class="validate">
                        <label for="newBookGenre">{{ labels.genre }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="newBookCover" name="newBookCover" type="text" [(ngModel)]="newBook.cover" class="validate">
                        <label for="newBookCover">{{ labels.cover }}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect brown waves-light btn" (click)="saveBook()">{{ labels.create }}</a>
    </div>
</div>

<div id="editBookModal" class="modal">
    <div class="modal-content">
        <h4>{{ labels.editBook }}</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="editedBookTitle" name="editedBookTitle" [(ngModel)]="editedBook.title" type="text" class="validate">
                        <label for="editedBookTitle">{{ labels.title }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="editedBookIsbn" name="editedBookIsbn" [(ngModel)]="editedBook.isbn" type="text" class="validate">
                        <label for="editedBookIsbn">{{ labels.isbn }}</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="editedBookAuthor" name="editedBookAuthor" [(ngModel)]="editedBook.author" type="text" class="validate">
                        <label for="editedBookAuthor">{{ labels.author }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="editedBookRelease" name="editedBookRelease" type="date" [(ngModel)]="editedBook.release" class="validate">
                        <label for="editedBookRelease">{{ labels.release }}</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="editedBookGenre" name="editedBookGenre" type="text" [(ngModel)]="editedBook.genre" class="validate">
                        <label for="editedBookGenre">{{ labels.genre }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="editedBookCover" name="editedBookCover" type="text" [(ngModel)]="editedBook.cover" class="validate">
                        <label for="editedBookCover">{{ labels.genre }}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect brown waves-light btn" (click)="updateBook()">{{ labels.saveChanges }}</a>
    </div>
</div>

<a class="waves-effect waves-light brown btn-small" (click)="setPt()">Português</a>
<a class="waves-effect waves-light brown btn-small" (click)="setEn()">Inglês</a>